<div class="container header-box" fxLayout="row" fxLayoutAlign="center" fxLayoutGap.xs="0">
  <div class="h-100 d-flex" fxFlex.xs="100" fxFlex="20%">
    <img class="logo pd align-items-middle" src="assets/logo.png" alt="Logo">
  </div>
  <div class="d-flex" fxFlex="100px" fxFlex fxHide.xs>
    <a class="pd" routerlink="/learn" routerlinkactive="active" href="/learn"> Learn </a>
    <a class="pd" routerlink="/archive" routerlinkactive="active" href="/archive"> Archive </a>
    <a class="pd" routerlink="/explore" routerlinkactive="active" href="/explore"> Explore </a>
    <a class="pd" routerlink="/explore/artworks" routerlinkactive="active" href="/explore/artworks?sale=1"> Buy </a>
  </div>
</div>
<div class="container" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="margin-tb d-flex align-items-center align-items-middle" fxFlex="15%" fxFlex.xs="100">
    <a class="pd">
      <img class="align-items-center align-items-middle mg-rt-15" src="assets/back-chevron.png" alt="Logo" width="30px" height="30px">
    </a>
    <div style="display: inline-block;">
      <a class="" href="">Home</a>
      <span>&nbsp;/&nbsp;</span>
      <a class="" href="/explore">Explore</a>
    </div>
  </div>
</div>
<div class="container" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="h-100" fxFlex>
    <h1>Browse artworks for sale</h1>
  </div>
</div>
<div class="container search-box" fxLayout xLayout.xs="row" fxLayoutAlign="center" fxLayoutGap.xs="0">
  <div class="h-100 pd-20 reverse d-flex align-items-center align-items-middle" fxFlex.xs="100" fxFlex="80">
    <a class="pd-1" routerlink="/learn" routerlinkactive="active" href="/learn"> U-Z </a>
    <a class="pd-1" routerlink="/archive" routerlinkactive="active" href="/archive"> P-T </a>
    <a class="pd-1" routerlink="/explore" routerlinkactive="active" href="/explore"> K-O </a>
    <a class="pd-1" routerlink="/explore/artworks" routerlinkactive="active" href="/explore/artworks?sale=1"> F-J </a>
    <a class="pd-1" routerlink="/explore/artworks" routerlinkactive="active" href="/explore/artworks?sale=1"> A-E </a>
    <p class="pd-1">View All</p>
  </div>
  <div class="d-flex  form-group" fxFlex fxHide.xs>
     <input placeholder="Search by artist or artwork" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" class="ng-pristine ng-valid ng-touched form-control">
  </div>
</div>
<div class="container search-box" fxLayout fxLayoutAlign="center" fxLayoutGap.xs="0">
  <div class="d-flex form-group" fxFlex="100" fxHide.lg>
    <input placeholder="Search" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" class="ng-pristine ng-valid ng-touched form-control">
  </div>
</div>
<div class="container reverse bottom" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">

  <ng-container *ngFor="let article of articles | filter:searchText as result let i = index">
    <div *ngIf="i == 0" class="d-flex mg-rl" fxFlex="100">
      <p *ngIf="searchText?.length > 0" class="mg-0 search-results">Search results for</p>
    </div>
    <div *ngIf="i == 0" class="d-flex mg-rl" fxFlex="100">
      <p class="mg-tp-10 search-value" *ngIf="searchText?.length > 0">{{searchText}} ({{result?.length}})</p>
    </div>
    <div class="d-flex mg-rl" fxFlex="24" fxFlex.xs="46.7">
      <a class="decoration-none" href="#">
        <div class="mg-bt-15" fxLayout="column" fxLayoutAlign="center">
          <div class="parent" fxFlex>
            <img class="child align-items-middle img-responsive product" src={{article.image}} alt={{article.place}} width="290px" height="200px">
            <p>{{article.name}}</p>
          </div>
          <div class="mg-tp-10" fxFlex>
            <img class="align-items-middle" src={{article.logo}} alt={{article.name}} width="100px" height="20px">
            <p class="font-18">{{article.name}}</p>
            <p class="font-16">{{article.place}}</p>
          </div>
        </div>
      </a>
    </div>
  </ng-container>

</div>
<div class="paginate-content mg-bt-15">
  <button class="image-wrapper" disabled="">
    <img src="assets/back-chevron@3x.png" alt="">
  </button>
  <button class="current">1</button>
  <button class="nextPrev"> 2 </button>
  <button class="nextPrev"> 3 </button>
  <button class="nextPrev noHover"> ... </button>
  <button class="image-wrapper">
    <img src="assets/front-chevron@3x.png" alt="">
  </button>
</div>
